.advantages {
  margin-bottom: 100px;
}

.advantages__title {
  max-width: 880px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  margin-left: 100px;
}

.list-item_text {
  position: relative;
  left: 40px;
  bottom: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  max-width: 280px;
}

.audio {
  position: relative;
  bottom: 80px;
  max-width: 211px;
}

.cinema {
  bottom: 60px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}




